# 22. Pandas How to filter results of value_counts?

In [1]:
import pandas as pd
df = pd.read_csv("../csv/movie_metadata.csv")

In [2]:
# sample of the data
df.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

## 1. How value counts works

In [3]:
col = 'language'
df[col]

0       English
1       English
2       English
3       English
4           NaN
         ...
5038    English
5039    English
5040    English
5041    English
5042    English
Name: language, Length: 5043, dtype: object

In [7]:
df[col].value_counts()

English       4704
French          73
Spanish         40
Hindi           28
Mandarin        26
German          19
Japanese        18
Russian         11
Cantonese       11
Italian         11
Portuguese       8
Korean           8
Arabic           5
Hebrew           5
Swedish          5
Danish           5
Persian          4
Norwegian        4
Polish           4
Dutch            4
Chinese          3
Thai             3
Icelandic        2
Dari             2
Zulu             2
None             2
Romanian         2
Aboriginal       2
Indonesian       2
Panjabi          1
Kazakh           1
Kannada          1
Aramaic          1
Urdu             1
Dzongkha         1
Czech            1
Tamil            1
Bosnian          1
Telugu           1
Hungarian        1
Filipino         1
Mongolian        1
Slovenian        1
Greek            1
Vietnamese       1
Maya             1
Swahili          1
Name: language, dtype: int64

In [8]:
df[col].value_counts().dtypes

dtype('int64')

In [9]:
df[col].value_counts().values

array([4704,   73,   40,   28,   26,   19,   18,   11,   11,   11,    8,
          8,    5,    5,    5,    5,    4,    4,    4,    4,    3,    3,
          2,    2,    2,    2,    2,    2,    2,    1,    1,    1,    1,
          1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1])

In [10]:
df[col].value_counts().index

Index(['English', 'French', 'Spanish', 'Hindi', 'Mandarin', 'German',
       'Japanese', 'Russian', 'Cantonese', 'Italian', 'Portuguese', 'Korean',
       'Arabic', 'Hebrew', 'Swedish', 'Danish', 'Persian', 'Norwegian',
       'Polish', 'Dutch', 'Chinese', 'Thai', 'Icelandic', 'Dari', 'Zulu',
       'None', 'Romanian', 'Aboriginal', 'Indonesian', 'Panjabi', 'Kazakh',
       'Kannada', 'Aramaic', 'Urdu', 'Dzongkha', 'Czech', 'Tamil', 'Bosnian',
       'Telugu', 'Hungarian', 'Filipino', 'Mongolian', 'Slovenian', 'Greek',
       'Vietnamese', 'Maya', 'Swahili'],
      dtype='object')

## 2. Filter value_counts with isin

In [12]:
df[df['language'].isin(df['language'].value_counts()[df['language'].value_counts()==3].index)].language

2388    Chinese
2740       Thai
3022    Chinese
3311       Thai
3427    Chinese
3659       Thai
Name: language, dtype: object

In [11]:
df[col].isin(df[col].value_counts().index)

0        True
1        True
2        True
3        True
4       False
        ...
5038     True
5039     True
5040     True
5041     True
5042     True
Name: language, Length: 5043, dtype: bool

In [22]:
df['language'].value_counts()==3

English       False
French        False
Spanish       False
Hindi         False
Mandarin      False
German        False
Japanese      False
Russian       False
Cantonese     False
Italian       False
Portuguese    False
Korean        False
Arabic        False
Hebrew        False
Swedish       False
Danish        False
Persian       False
Norwegian     False
Polish        False
Dutch         False
Chinese        True
Thai           True
Icelandic     False
Dari          False
Zulu          False
None          False
Romanian      False
Aboriginal    False
Indonesian    False
Panjabi       False
Kazakh        False
Kannada       False
Aramaic       False
Urdu          False
Dzongkha      False
Czech         False
Tamil         False
Bosnian       False
Telugu        False
Hungarian     False
Filipino      False
Mongolian     False
Slovenian     False
Greek         False
Vietnamese    False
Maya          False
Swahili       False
Name: language, dtype: bool

In [21]:
df['language'].value_counts()[df['language'].value_counts()==3].index

Chinese    3
Thai       3
Name: language, dtype: int64

In [13]:
df['language'].isin(df['language'].value_counts()[df['language'].value_counts()==1].index)

0       False
1       False
2       False
3       False
4       False
        ...
5038    False
5039    False
5040    False
5041    False
5042    False
Name: language, Length: 5043, dtype: bool

In [14]:
df[df['language'].isin(df['language'].value_counts()[df['language'].value_counts()==3].index)]['language']

2388    Chinese
2740       Thai
3022    Chinese
3311       Thai
3427    Chinese
3659       Thai
Name: language, dtype: object

In [27]:
df['language'].value_counts()[df['language'].value_counts()> 10]

English      4704
French         73
Spanish        40
Hindi          28
Mandarin       26
German         19
Japanese       18
Russian        11
Cantonese      11
Italian        11
Name: language, dtype: int64

In [28]:
df[df['language'].isin(df['language'].value_counts()[df['language'].value_counts() > 10].index)].language

0       English
1       English
2       English
3       English
5       English
         ...
5038    English
5039    English
5040    English
5041    English
5042    English
Name: language, Length: 4941, dtype: object

In [18]:
df[df['language'].isin(df['language'].value_counts()[df['language'].value_counts() == 3].index)].language.unique()

array(['Chinese', 'Thai'], dtype=object)

## 3. Use group by and lambda to simulate filter on value_counts()

In [32]:
df.groupby('language').filter(lambda x: len(x) == 3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2388,Color,Danny Pang,23.0,107.0,15.0,27.0,Angelica Lee,82.0,NaN,Action,...,4.0,Chinese,China,PG-13,NaN,2013.0,39.0,5.7,1.85,124
2740,Color,Tony Jaa,110.0,110.0,0.0,7.0,Petchtai Wongkamlao,64.0,102055.0,Action,...,72.0,Thai,Thailand,R,300000000.0,2008.0,45.0,6.2,2.35,0
3022,Color,Mabel Cheung,6.0,130.0,3.0,2.0,Ching Wan Lau,215.0,NaN,Drama,...,6.0,Chinese,China,NaN,12000000.0,2015.0,27.0,6.2,2.35,4
3311,Color,Chatrichalerm Yukol,31.0,300.0,6.0,6.0,Chatchai Plengpanich,7.0,454255.0,Action|Adventure|Drama|History|War,...,47.0,Thai,Thailand,R,400000000.0,2001.0,6.0,6.6,1.85,124
3427,Color,Dennie Gordon,11.0,114.0,29.0,11.0,Ruby Lin,163.0,50000.0,Action|Adventure|Comedy|Romance,...,2.0,Chinese,China,NaN,NaN,2013.0,20.0,5.1,2.35,81
3659,Color,Prachya Pinkaew,112.0,111.0,64.0,380.0,Nathan Jones,778.0,11905519.0,Action|Crime|Drama|Thriller,...,214.0,Thai,Thailand,R,200000000.0,2005.0,635.0,7.1,1.85,0

In [31]:
df.groupby('language').filter(lambda x: len(x) == 3)['language']

2388    Chinese
2740       Thai
3022    Chinese
3311       Thai
3427    Chinese
3659       Thai
Name: language, dtype: object

In [33]:
df.groupby('language').filter(lambda x: len(x) == 3)['language'].unique()

array(['Chinese', 'Thai'], dtype=object)

## 4. Bonus: Which is faster?

In [34]:
%timeit df.groupby('language').filter(lambda x: len(x) == 3)['language']

100 loops, best of 3: 10.9 ms per loop

In [35]:
%timeit df[df['language'].isin(df['language'].value_counts()[df['language'].value_counts()==3].index)]['language']

100 loops, best of 3: 3.19 ms per loop